@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/*! HEAD SECTION */

.head-wrap {
    position: relative;
    font-size: 16px;
}

.header-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    color: white;
    letter-spacing: 2px;
}

.logo {
    width: 70px;
    height: 90px;
    padding: 0 10.5% 0 0.6%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.slider-wrap {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.number {
    font-size: 11px;
    padding-left: 215px;
    font-weight: 600;
}

.online-booking-white {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: white;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    width: 155px;
    height: 35px;
    transition: 0.2s all ease-in-out;
    font-weight: 600;
}

.online-booking-white:hover {
    background-color: #FF6C00;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 3px black;
}

.online-booking-white:active {
    transform: scale(0.95);
    transform: translateY(2px);
    box-shadow: none;
    transition: 0.05s all ease-in-out;
}


.online-booking-white, .online-booking-black {
    text-transform: uppercase;
}

.side-head {
    width: 10%;
}

.slider-content {
    width: 90%;
    background: url("img/raw/sliderBG1.jpg");
}

.slider-line-minitext, .slider-text-main, .slider-text-submain {
    position: absolute;
}
.slider-line-minitext {
    top: 280px;
    left: 225px;
    display: flex;
    gap: 20px;
}

.slider-text-line {
    top: 39.8%;
    left: 26%;
    color: #6a6e7d;
    opacity: 0.8;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none;
    font-size: 11px;
}

.slider-text-main {
    top: 44.5%;
    left: 18.7%;
    color: #FFFFFF;
    font-size: 76px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

.slider-text-submain {
    top: 60%;
    left: 18.5%;
    color: #9DA4BD;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.slider-img1 {
    width: 100%;
    height: 100%;
}

.slider-img2,.slider-img3 {
    width: 100%;
    height: 100%;
    display: none;
}

.menu-item {
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}

.menu-item:hover {
    color: #FF6C00;
}

.side-head-inner {
    display: flex;
    flex-direction: row-reverse;
    transform: rotate(270deg);
    position: relative;
    top: 58%;
    left: 14%;
    gap: 39px;
    letter-spacing: 3px;
    font-size: 11px;
}

.side-head-vertical-line {
    rotate: 270deg;
    padding-left: 40px;
}

.side-head-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 600;
}

.side-head-link:hover {
    color: #FF6C00;
}


/* ABOUT SECTION */

.about-text-main,.about-mini-text {
    -webkit-user-select: none;
    user-select: none;
}


.about-wrap {
    display: flex;
    margin: 117px auto;
    max-height: 680px;
}

.about-image-wrap {
    display: flex;
    gap: 25px;
    width: 50%;
    padding-left: 20px;
}

.about-img1,.about-img2 {
    width: 100%;
    height: 100%;
}

.horizontal-about-line {
    right: 876px;
    top: 796px;
}

.about-text-wrap {
    margin-left: 25px;
    width: 50%;
}

.about-line-minitext {
    display: flex;
    gap: 20px;
}
 .about-mini-text {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
}

 .about-text-main {
    padding: 25px 0 20px 0;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    font-size: 43px;
}

.about-text-first-submain {
    font-size: 18px;
    opacity: 0.5;
    color: #555555;
    line-height: 27px;
    padding-bottom: 18px;
}

.about-text-second-submain {
    font-size: 15px;
    padding-bottom: 40px;
    width: 510px;
    color: #555555;
    line-height: 26px;
}

.online-booking-black {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: black;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    width: 160px;
    height: 40px;
    transition: 0.2s all ease-in-out;
}

.online-booking-black:hover {
    background-color: #FF6C00;
    border: solid black 1px;
    box-shadow: 0px 2px 3px black;
}

.online-booking-black:active {
    transform: scale(0.95);
    transform: translateY(2px);
    box-shadow: none;
    transition: 0.05s all ease-in-out;
}

/*! SERVICES SECTION */


.services-wrap {
    position: relative;
    background: url("img/raw/servicesBG1.png");
    aspect-ratio: 32/14;
    background-size: cover;
}

.services-line-minitext {
    display: flex;
    padding: 150px 0 20px 0;
    gap: 20px;
}

.services-mini-text {
    color: #6a6e7d;
    opacity: 0.6;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none;
    font-size: 12px;
    font-weight: 600;
}

.services-main-text {
    padding-bottom: 50px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    -webkit-user-select: none;
    user-select: none;
    letter-spacing: 2.1px;
}

.services-card-container {
    display: flex;
    color: #9DA4BD;
}

.card1, .card2 {
    width: 570px;
    height: 255px;
}

.card1 {
    background-image: linear-gradient(180deg, #171A24, #171A2433);
    margin-right: 40px;
}
.card2 {
    background-image: linear-gradient(180deg, #090B13, #090B1333);
}

.services-text-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.service-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    font-size: 20px;
}
.service-price-separator {
    flex: 1;
    border-bottom: 1px solid #9DA4BD1F;
    margin: 0.6em 5px 0;
}

.service-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto 0 auto;
    width: 180px !important;
    height: 50px !important;
}

/*! REASONING SECTION */

.reasoning-wrap {
    display: flex;
    margin: 150px auto;
}

.reasoning-rectangles {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.reasoning-rectangle-right {
    margin: 40px 0 0 40px;
}

.reasoning-rectangle-wrap {
    width: 200px;
    height: 160px;
    background-color: #F7F7F7;
}

.reasoning-rectangle-number-plus {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-left: 5px;
}

.reasoning-rectangle-number {
    color: #000;
    font-size: 52px;
    font-weight: 600;
}

.reasoning-rectangle-plus {
    padding-top: 8px;
    color: #FF6C00;
    font-size: 20px;
    font-weight: 700;
}

.reasoning-rectangle-text {
    padding-top: 8px;
    text-align: center;
    font-size: 14px;
}

.reasoning-text-wrap {
    margin-left: 40px;  
    margin-top: 10px;
    width: 50%;
}
.reasoning-line-minitext {
    display: flex;
    gap: 20px;
}

.reasoning-mini-text {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.reasoning-main-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 52px;
    margin: 15px 0 20px 0;
    letter-spacing: 1px;
}

.reasoning-submain-text {
    font-size: 22px;
    color: #555555;
    line-height: 35px;
}


/*! BARBERS SECTION */

.barbers-wrap {
    background-color: #F7F7F7;
    padding: 50px;
}

.barbers-line-minitext {
    display: flex;
    gap: 20px;
}

.barbers-main-text {
    padding: 15px 0 45px 0;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
}

.barbers-cards-wrap {
    display: flex;
    gap: 30px;
}

.barbers-image {
    width: 396px;
    height: 368px;
}

.barber-card-black-text {
    padding: 25px 0 10px 0;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.barber-card-orange-text {
    color: #FF6C00;
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

.barber-socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 40px;
    width: 45px;
    height: 45px;
}

.social-icon {
    width: 20px;
    height: 20px;
    transition: 0.5s all ease-in-out;
}

.social-button-container:hover .social-icon{
    filter: invert(51%) sepia(57%) saturate(4621%) hue-rotate(2deg) brightness(103%) contrast(104%);
}


/*! TIP SECTION */

.tip-wrap {
    padding: 120px 0;
}

.tip-line-minitext {
    display: flex;
    gap: 20px;
}

.tip-text-line {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.tip-images-wrap {
    display: flex;
    gap: 30px;
    padding-top: 40px;
}

.tip-image {
    width: 276px;
    height: 367px;
}



/*! CONTACT SECTION */


.contact-wrap {
    display: flex;
    padding: 15px 0;
}

.contant-first-half-wrap {
    width: 50%;
    background-color: #191C26;
}

.contact-main-text {
    color: #FFFFFF;
}